@import "tailwindcss";

:root {
  --background: #f5f0eb;
  --foreground: #a47864;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f0eb;
    --foreground: #4a403a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
